docs/n8n-workflows/schellen-reservation-whatsapp.json
{
  "name": "Schellen Reservierung → WhatsApp",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "format": "simple",
        "options": {
          "customEmailConfig": "[\"UNSEEN\"]"
        }
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000001",
      "name": "IMAP Trigger",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [240, 300],
      "credentials": {
        "imap": {
          "id": "IMAP_CREDENTIAL_ID",
          "name": "Schellen IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email content for LLM classification\nconst item = $input.first().json;\n\nconst subject = item.subject || '';\nconst from = item.from?.text || item.from || '';\nconst textBody = item.text || item.textPlain || '';\nconst htmlBody = item.html || '';\n\n// Prefer text body, fall back to stripping HTML\nlet body = textBody;\nif (!body && htmlBody) {\n  body = htmlBody.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\n// Truncate to avoid overloading the LLM\nif (body.length > 2000) {\n  body = body.substring(0, 2000) + '...';\n}\n\nreturn [{\n  json: {\n    subject,\n    from,\n    body,\n    received_at: item.date || new Date().toISOString()\n  }\n}];\n"
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000002",
      "name": "Extract Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.OLLAMA_URL || 'http://ollama:11434' }}/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.OLLAMA_INTENT_MODEL || 'qwen3:8b' }}\",\n  \"prompt\": \"Du bist ein Klassifikations-Assistent fuer die Gaststaette Schellen. Analysiere die folgende E-Mail und extrahiere Reservierungsinformationen.\\n\\nE-Mail:\\nBetreff: {{ $json.subject }}\\nVon: {{ $json.from }}\\nInhalt: {{ $json.body }}\\n\\nAntworte NUR mit einem JSON-Objekt (keine Erklaerung, kein Markdown):\\n{\\n  \\\"is_reservation\\\": true/false,\\n  \\\"name\\\": \\\"Name des Gastes oder leer\\\",\\n  \\\"date\\\": \\\"YYYY-MM-DD oder leer\\\",\\n  \\\"time\\\": \\\"HH:MM oder leer\\\",\\n  \\\"party_size\\\": Anzahl oder null,\\n  \\\"phone_number\\\": \\\"Telefonnummer oder leer\\\",\\n  \\\"special_requests\\\": \\\"Sonderwuensche oder leer\\\"\\n}\\n\\nRegeln:\\n- is_reservation=true wenn es eine Tischreservierung oder Platzanfrage ist\\n- is_reservation=false bei Fragen zum Menu, Oeffnungszeiten, Bewerbungen, Werbung, etc.\\n- Extrahiere alle verfuegbaren Informationen, lasse Felder leer wenn nicht erwaehnt\\n- Telefonnummer: alle Formate akzeptieren (0171-123456, +49 171 123456, etc.)\",\n  \"format\": \"json\",\n  \"stream\": false,\n  \"options\": {\n    \"temperature\": 0.1,\n    \"num_ctx\": 4096\n  }\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000003",
      "name": "Classify (Ollama)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "jsCode": "// Parse LLM JSON response with fallback handling\nconst item = $input.first().json;\nconst prevData = $('Extract Content').first().json;\n\nlet parsed;\ntry {\n  // Ollama returns { response: \"...json string...\" }\n  const raw = item.response || '';\n  parsed = JSON.parse(raw);\n} catch (e) {\n  // If JSON parsing fails, treat as non-reservation\n  parsed = {\n    is_reservation: false,\n    name: '',\n    date: '',\n    time: '',\n    party_size: null,\n    phone_number: '',\n    special_requests: '',\n    parse_error: e.message\n  };\n}\n\nreturn [{\n  json: {\n    ...parsed,\n    // Carry forward email metadata\n    email_from: prevData.from,\n    email_subject: prevData.subject,\n    received_at: prevData.received_at\n  }\n}];\n"
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000004",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-is-reservation",
              "leftValue": "={{ $json.is_reservation }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000005",
      "name": "Is Reservation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format WhatsApp message for Ramona (German)\nconst d = $input.first().json;\n\nconst lines = [\n  '*Neue Reservierungsanfrage per E-Mail*',\n  ''\n];\n\nif (d.name) lines.push(`Name: ${d.name}`);\nif (d.date) lines.push(`Datum: ${d.date}`);\nif (d.time) lines.push(`Uhrzeit: ${d.time}`);\nif (d.party_size) lines.push(`Personen: ${d.party_size}`);\nif (d.phone_number) {\n  lines.push(`Telefon: ${d.phone_number}`);\n} else {\n  lines.push('Telefon: _nicht angegeben_');\n}\nif (d.special_requests) {\n  lines.push(`Sonderwuensche: ${d.special_requests}`);\n}\n\nlines.push('');\nlines.push(`Absender: ${d.email_from}`);\n\nreturn [{\n  json: {\n    ...d,\n    whatsapp_message: lines.join('\\n')\n  }\n}];\n"
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000006",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL || 'http://evolution-api:8080' }}/message/sendText/schellen",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $env.WHATSAPP_RAMONA_NUMBER }}\",\n  \"text\": {{ JSON.stringify($json.whatsapp_message) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000007",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-no-phone",
              "leftValue": "={{ $('Parse Response').first().json.phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000008",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "fromEmail": "Gaststaette Schellen <info@gaststaette-schellen.de>",
        "toEmail": "={{ $('Parse Response').first().json.email_from }}",
        "subject": "Re: {{ $('Extract Content').first().json.subject }}",
        "emailType": "text",
        "message": "Guten Tag{{ $('Parse Response').first().json.name ? ' ' + $('Parse Response').first().json.name : '' }},\n\nvielen Dank fuer Ihre Reservierungsanfrage bei der Gaststaette Schellen.\n\nUm Ihre Reservierung bestaetigen zu koennen, benoetigen wir noch Ihre Telefonnummer. Bitte antworten Sie auf diese E-Mail mit Ihrer Rufnummer, damit wir Sie bei Rueckfragen erreichen koennen.\n\nMit freundlichen Gruessen\nGaststaette Schellen",
        "options": {}
      },
      "id": "b2d3e5f7-2001-4b00-c001-000000000009",
      "name": "Send Reply",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2160, 120],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "Schellen SMTP"
        }
      }
    },
    {
      "parameters": {},
      "id": "b2d3e5f7-2001-4b00-c001-000000000010",
      "name": "No-Op",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1440, 420]
    }
  ],
  "connections": {
    "IMAP Trigger": {
      "main": [
        [
          { "node": "Extract Content", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          { "node": "Classify (Ollama)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Classify (Ollama)": {
      "main": [
        [
          { "node": "Parse Response", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          { "node": "Is Reservation?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Reservation?": {
      "main": [
        [
          { "node": "Format Message", "type": "main", "index": 0 }
        ],
        [
          { "node": "No-Op", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          { "node": "Send WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          { "node": "Has Phone?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          { "node": "Send Reply", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false
}
